.prisonerview{
    max-width:100%;
}
.prison{
    width:85em;
    height:85em;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    border:0.35em solid var(--mainColor);
}
.prisoner{
    width:8em;
    height:8em;
    border-radius:50%;
    background-color:var(--mainColor);
}
.breakbtn{
    font-size:5em;
    text-transform:capitalize;
    color:var(--textColor);
    position:absolute;
    right:0;
    bottom:0;
    padding:0.5em 1em;
    background-color:var(--mainColor);
}


@media(any-hover){
    .prisoner:hover{
        cursor:pointer;
    }
}

@media(max-width:15cm){
    .prison{
        width:75em;
        height:75em;
    }
}
