.mainview{
    background-color:var(--backgroundColor);
}
.header{
    position:relative;
    text-transform:none !important;
    color:var(--textColor);
    background-color:var(--mainColor);
}
.header img{
    filter:invert(1);
}
.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    &>button{
        font-size:5em;
        text-transform:capitalize;
        color:var(--textColor);
        padding:1em;
        border-radius:0.35em;
        background-color:var(--mainColor);
    }
}
.fpsmeter{
    position:absolute !important;
    width:fit-content !important;
    display:flex;
    justify-content:center;
    align-items:center;
    right:0;
    left:unset !important;
    top:0;
    bottom:0 !important;
    margin:auto 0;
}
