.mainview{
    background-color:var(--backgroundColor);
}
.header{
    position:relative;
    text-transform:none !important;
    color:var(--textColor);
    background-color:var(--mainColor);
}
.header img{
    filter:invert(1);
}
.fpsmeter{
    position:absolute !important;
    width:fit-content !important;
    display:flex;
    justify-content:center;
    align-items:center;
    right:0;
    left:unset !important;
    top:0;
    bottom:0 !important;
    margin:auto 0;
}
