.homescreen{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:var(--backgroundColor);
    overflow:hidden;
}
.message{
    max-width:80%;
    font-family:var(--mainFont);
    font-size:5em;
    line-height:1.5em;
    text-align:center;
}
.message::first-letter{
    text-transform:uppercase;
}
.message>img{
    width:1.5em;
    vertical-align:middle;
}
