.homescreen{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:5em;
    background-color:var(--backgroundColor);
    overflow:hidden;
}
.homescreen button{
    font-family:var(--mainFont);
    font-weight:500;
    text-transform:capitalize;
    color:black;
    padding:0.5em 1em;
    margin:0.5em;
    border-radius:0.5em;
}
